body {
  margin: 0 auto;
  border-radius: 12px;
  border: 1px solid #E8E8E8;
  margin-bottom: 7px;
  padding: 10px 10px;
  width: 80%;
  background-color: #FFFFFF;
  font-family: Verdana, Arial, sans-serif;
}

img {
  width: 15%;
  height: 15%;

}

.entry {
  background-color: #f6f6f5;
  font-size: 11px;
  color: #666666;

}

a {
  text-decoration: none;
  font-size: 1.1rem;
}

.content img {
  float: left;
  margin: 5px 20px 5px 5px;
  -moz-box-shadow:    2px 2px 2px 2px #ccc;
  -webkit-box-shadow: 2px 2px 2px 2px #ccc;
  box-shadow:         2px 2px 2px 2px #ccc;
}

.content {
    padding: 10px;
    overflow: hidden;
    border: 2px solid white;
}

h1 {
  font-size: 1.5rem;
}

.info {
  margin-top: -15px;
}
